html {
  --fonce: #013a63;
  --pale: #61a5c2;
  --tresPale: #daf0fa;
  --fond: #e4f2f7;
  --font: #333;
  --fontAccent: #61a5c2;
  --fondElement: #f7fcfd;
  --fondNavbar: #f7fcfd7f;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 25px 0;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--fontAccent);
  font-weight: bold;
}
a:hover {
  color: var(--fond);
  cursor: pointer;
}
.cliquable {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(320deg, #daf0fa, #edf3f5), url(./Assets/noise.svg);
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
tr:nth-child(even) {
  background-color: var(--tresPale);
}
thead tr:nth-child(even) {
  background-color: transparent;
}
th,
td {
  padding: 7px;
  text-align: center;
}
th:first-child,
td:first-child {
  padding-left: 25px;
}
td:first-child {
  text-align: left;
}
th:last-child,
td:last-child {
  padding-right: 25px;
}
th.actif {
  background-color: var(--fontAccent);
  color: var(--fonce);
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  margin: 100px auto 0 auto;
  max-width: 1500px;
}
.containerRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 25px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 1rem;
    margin-top: 100px;
    padding: 0;
    font-size: 0.7rem;
    width: calc(100% - 2rem);
    gap: 0;
    text-align: center;
  }
  .container > * {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .containerRow {
    justify-content: start;
    column-gap: 0;
  }
  h1 {
    width: 100%;
  }
}

/*****************************/
/********* Element ***********/
/*****************************/
.element {
  display: flex;
  overflow: hidden;
  width: auto;
  background-color: var(--fondElement);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  min-width: 600px;
  max-width: 1300px;
  padding: 25px;
  margin-bottom: 25px;
}
.element a:hover {
  color: var(--font);
}
.tableauStats {
  padding: 0;
}
.tableauStats thead {
  height: 75px;
  text-align: center;
}
.ordre {
  display: flex;
  height: 20px;
  flex-direction: column;
}

.fondDegrade {
  color: var(--tresPale);
  filter: contrast(100%) brightness(110%);
  background: linear-gradient(320deg, rgb(59, 102, 134), rgba(1, 58, 99, 1)),
    url(./Assets/noise.svg);
}

@media screen and (max-width: 768px) {
  .cachePetit {
    display: none;
  }
  th:first-child,
  td:first-child {
    padding-left: 5px;
  }
  .element {
    width: 100%;
    min-width: 0;
  }
  .element.data {
    padding: 25px;
  }
}

/*****************************/
/****** Données joueur *******/
/*****************************/
.donneesJoueurs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.renseignementsJoueurs,
.statsCarriere {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.photoJoueur {
  text-align: center;
}
.photoJoueur img {
  max-height: 190px;
}
.statCarriere {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.nombre {
  font-size: 2.5rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .statsCarriere {
    border-top: 0px;
  }
  .renseignementsJoueurs {
    flex-direction: column;
    gap: 15px;
  }
  .renseignementsJoueurs,
  .photoJoueur {
    padding-bottom: 15px;
  }
  .nombre {
    font-size: 2rem;
    font-weight: bold;
  }
}

/*****************************/
/*********** Logo ************/
/*****************************/
.logoNom {
  vertical-align: text-top;
}
.logoMini {
  margin: auto 10px auto 0;
  max-height: 20px;
  max-width: 22px;
  vertical-align: sub;
}

/*****************************/
/********* Navbar ************/
/*****************************/
.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 10px 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.navbar a {
  color: var(--tresPale);
}
.navbar a:hover {
  color: var(--fontAccent);
}
.menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex: 1;
  padding: 20px 0 20px 0px;
}
.premierNiveau {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: flex-end;
  z-index: 10;
}
.ferme {
  display: none;
}
.flecheBas,
.icon {
  padding-left: 5px;
  align-items: center;
  z-index: -1;
}
.sousMenu {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 50%;
  width: auto;
  gap: 5px;
  padding: 20px;
  margin: 10px 0 0 0;
  background-color: var(--fondElement);
  border: 1px solid var(--pale);
  z-index: 101;
  transform: translateX(-40%);
}
.sousMenu a {
  display: flex;
  color: var(--fontAccent);
  width: 210px;
  padding: 0 5px;
  margin: 0;
}
.sousMenu a:hover {
  color: var(--font);
}
.menuMobil {
  display: none;
}
.logo {
  position: fixed;
  padding-left: 15px;
  top: 0;
  left: 0;
  width: auto;
  min-width: 0;
  background-color: var(--fond);
  border-radius: 0 0 15px 0;
}
.hideMobil,
.showMobil {
  display: flex;
}
.isScroll {
  transition: backdrop-filter 0.5s ease-in;
  backdrop-filter: blur(3px);
}
.isScroll .logo img {
  max-height: 40px;
}
.isScroll .logo {
  padding: 15px;
}
.isScroll .menu {
  padding: 5px 0 0 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    justify-content: flex-end;
    font-size: 1rem;
  }
  .logo.element {
    padding: 5px;
  }
  .logo img {
    max-height: 35px;
    padding: 5px;
  }
  .isScroll .logo img {
    max-height: 25px;
  }
  .menu,
  .menuDroit {
    display: none;
  }
  .menuMobil {
    display: flex;
    padding-right: 20px;
  }
  .ferme {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    color: var(--font);
    cursor: pointer;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    background-color: white;
    padding: 25px;
    right: 0;
    top: 0px;
    border: 1px solid var(--gris);
    height: calc(100vh);
    width: calc(100vw - 52px);
    z-index: 101;
  }
  .sousMenu {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 0;
    flex: 1;
    border: 0;
    height: 100vh;
  }
  .sousMenu a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0;
    padding: 0;
  }
  .sousMenu a .descriptionSousMenu,
  .hideMobil {
    display: none;
  }
  .showMobil {
    display: flex;
    justify-content: flex-start;
  }
}
.hide {
  display: none;
}
.show {
  display: flex;
}

/***************************************/
/************ Footer ******************/
/***************************************/

footer {
  background-color: var(--fonce);
  color: var(--tresPale);
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 1px, rgba(0, 0, 0, 0.07) 0px -2px 2px,
    rgba(0, 0, 0, 0.07) 0px -4px 4px, rgba(0, 0, 0, 0.07) 0px -8px 8px,
    rgba(0, 0, 0, 0.07) 0px -16px 16px;
}
